spring:

  application:
    name: inoichi
  datasource:
    url: jdbc:postgresql://untitled-tuincat-d515.k.aivencloud.com:28642/defaultdb?ssl=require
    username: avnadmin
    password: AVNS_AiLwbPlu6smjbS0rJCW
    hikari:
      maximum-pool-size: 3      # Limit max connections to 10
      minimum-idle: 5            # Minimum idle connections
      idle-timeout: 30000        # Idle timeout in milliseconds (30 seconds)
      max-lifetime: 1800000      # Maximum lifetime of a connection (30 minutes)
      connection-timeout: 30000
  springdoc:
    api-docs:
      path: /api-docs
    swagger-ui:
      operations-sorter: method
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: app
        format_sql: true
server:
  shutdown: graceful
  port: 8080
  compression:
    enabled: true
    mime-types: application/json,application/xml,text/html,text/xml,text/plain
    min-response-size: 1024
    level: 6
jwt:
  secret: NTM2NzU2NkI1OTcwMzM3MzM2NzYzOTc5MkY0MjNGNDUyODQ4MkI0RDYyNTE2NTU0Njg1NzZENUE3MTM0NzQzNw==
logging:
  level:
    org:
      springframework:
        security: DEBUG
      web:
        DEBUG
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE
google:
  api:
    key: "AIzaSyCJB_xuGXMvAWzphLncCv5-HvDp6SsOGqU"
    base_url: "https://generativelanguage.googleapis.com"
